.list {
    width: 100%;
    margin-top: 25px;

    &__title {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }

    &__wrapper {
        position: relative;

        svg {
            width: 50px;
            height: 100%;
            color: white;
            background-color: rgb(22, 22, 22, 0.5);
            position: absolute;
            z-index: 999;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.2s;

            &:first-of-type {
                left: 0;
            }

            &:nth-of-type(2) {
                right: 0;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
    &__container {
        margin-left: 50px;
        display: flex;
        gap: 25px;
        margin-top: 10px;
        width: max-content;
        transform: translateX(0px);
        transition: all 1s ease;
    }
}
