.list {
    width: 100%;
    margin-top: 10px;

    &__title {
        color: white;
        font-size: 20px;
        font-weight: 500;
        margin-left: 50px;
    }

    &__wrapper {
        position: relative;

        svg {
            width: 50px;
            height: 100%;
            color: white;
            background-color: rgb(22, 22, 22, 0.5);
            position: absolute;
            z-index: 999;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;

            &:first-of-type {
                left: 0;
            }

            &:nth-of-type(2) {
                right: 0;
            }
        }

        &__container {
            margin-left: 50px;
            display: flex;
            margin-top: 10px;
            width: max-content;
            transform: translateX(0px);
            transition: all 1s ease;
        }
    }
}
