.navbar {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    color: white;
    font-weight: bold;
    transition: background-color 0.15s linear;

    &--scrolled {
        background-color: #0b0b0b;
    }

    &__container {
        display: flex;
        padding: 0px 25px;
        align-items: center;
        justify-content: space-between;
        height: 70px;

        svg {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }

    &__left {
        display: flex;
        align-items: center;

        h1 {
            display: none;
            margin-right: 20px;
            color: #ffff00;
            cursor: pointer;
        }

        span {
            margin-right: 15px;
        }

        .link {
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        svg {
            height: 20px;
            width: 20px;
            cursor: pointer;
            margin-left: 20px;
        }
    }
}

@media (min-width: 640px) {
    .navbar {
        &__container {
            padding: 0px 50px;
        }

        &__left {
            h1 {
                display: block;
                margin-right: 40px;
            }
            span {
                margin-right: 30px;
            }
        }
    }
}
