.search {
    margin-top: 70px;
    width: 100%;

    &__input {
        width: 100vw;
        height: 100px;
        background: rgb(75, 78, 90);
        border-style: none;
        font-size: 44px;
        color: rgb(249, 249, 249);
        font-weight: bold;
        outline: none;
        padding-left: calc(3.5vw + 24px);
        text-overflow: ellipsis;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

        &:focus {
            background-color: rgb(98, 102, 118);
        }
    }

    &__result {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 25px;
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 25px;
        justify-items: center;

        &--none {
            width: 100%;
            color: white;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.2;
            grid-column: 1/-1;
            letter-spacing: 0.11px;
            display: flex;
            justify-content: center;
        }

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @media (min-width: 1536px) {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }
}
